/* Reset some default styles and apply a background-color */
body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2; /* Set your background color */
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
/* Style the navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black; /* Set background-color to transparent */
  padding: 3rem 2rem; /* Add padding for spacing */
  width: 100%; /* Make it span the full width of the viewport */
  z-index: 2;
  /* position: fixed; */
}

/* Style the left section of the navbar */
.left {
  display: flex;
}

.left a {
  margin-right: 20px; /* Add spacing between the anchor tags */
  text-decoration: none;
  color: white; /* Set the text color */
  font-family: "Poppins", sans-serif;
}

/* Style the logo (center) */
.logo {
  margin: 0;
  text-align: center;
  flex-grow: 1; /* Allow the logo to take up available space in the middle */
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem; /* Adjust the font size as needed */
  color: #ffb300; /* Set the text color */
  font-weight: bolder;
}

/* Style the right section of the navbar */
.right {
  display: flex;
  align-items: center;
}

.right a {
  margin-right: 20px; /* Add spacing between the anchor tags */
  text-decoration: none;
  color: white; /* Set the text color */
  font-family: "Poppins", sans-serif;
}

/* Style the "Call Now" button */
.call-button {
  background-color: #ffb300; /* Set button background color */
  color: #f2f2f2; /* Set button text color */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

/* Hover effect for the button */
.call-button:hover {
  color: #000;
  background-color: #ffc239;
}

nav a:hover {
  color: #ffb300;
}

/* Style the hero section with a background video */
.hero {
  position: relative;
  height: 100vh; /* Make the hero section cover the entire viewport height */
  overflow: hidden; /* Hide overflowing content */
}

/* Style the video element */
#hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure video covers the entire area */
}

/* Style the text overlay */
.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff; /* Text color on top of the video */
  padding: 20px; /* Add padding for spacing */
  font-family: "Poppins", sans-serif;
}

/* Style the h1 heading */
.text-overlay h1 {
  font-size: 36px; /* Adjust the font size as needed */
  font-family: "Poppins", sans-serif;
}

/* Style the paragraph */
.text-overlay p {
  font-size: 18px; /* Adjust the font size as needed */
  margin: 20px 0; /* Add spacing around the paragraph */
  font-family: "Poppins", sans-serif;
}

/* Style the "Visit Now" button */
.visit-button {
  display: inline-block;
  padding: 1rem 2rem; /* Set the button size */
  background-color: #ffb300; /* Set button background color */
  color: #fff; /* Set button text color */
  text-decoration: none;
  font-size: 18px; /* Adjust the font size as needed */
  border-radius: 5px;
  transition: background-color 0.3s; /* Add a smooth hover effect */
  font-family: "Poppins", sans-serif;
}

/* Hover effect for the button */
.visit-button:hover {
  color: #000;
  background-color: #ffc239; /* Change background color on hover */
  /* font-weight: bold; */
  /* padding: 1rem 3rem; */
}

#about {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  padding-top: 7rem;
  padding-left: 10rem;
  background-color: #ffb300;
  overflow-x: hidden;
}

.about-left {
  width: 70vw;
}

span {
  color: white;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
}

.left-mid {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.left-mid p {
  margin-right: 1rem;
}

/* .left-bottom{
      margin-top: 3rem;
      
  } */
.left-bottom p {
  color: #333;
  font-weight: bold;
}

.about-right img {
  width: 40vw;
  height: 400px;
}

/* slider */

#cards {
  padding: 4rem;
  text-align: center;
  font-style: italic;
  height: 100vh;
  color: #ffb300;
  /* background-color :black; */
  background-image: url("https://images.pexels.com/photos/1482803/pexels-photo-1482803.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  overflow-x: hidden;
}

.para {
  color: white;
  background-color: #131313bd;
  border-radius: 5px;
  /* font-weight: bold; */
  line-height: 2rem;
  font-family: "Poppins", sans-serif;
}

.card {
  border-radius: 20px;
  width: 30%;
}

.card p {
  font-weight: 400;
  font-style: italic;
  color: #333;
}

.card-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem;
}

/* contact */
#contact {
  padding-bottom: 3rem;
  height: 90vh;
}

#contact-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  margin-top: 1rem;
}

iframe {
  height: 70%;
  width: 80%;
  margin-top: 3rem;
  border-radius: 20px;
  margin-left: 4rem;
}

.c-left {
  width: 50%;
}

.c-right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact h2 {
  font-size: 3rem;
  text-align: center;
  color: #ffb300;
  padding-top: 3rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 400px;
  margin: 3rem;
}

input,
button {
  /* margin-bottom: 0.3rem; */
  padding: 0.5rem 3rem;
  font-size: 1rem;
  border-style: solid #131313;
  border-width: 1px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
}

textarea {
  padding: 0rem 2.5rem;
}

.submit {
  padding: 0.5rem 7rem;
  color: white;
  background-color: #ffb300;
  font-size: 1.5rem;
  font-weight: 600;
  border-style: none;
  border-radius: 5px;
}

.submit:hover {
  color: #000;
  background-color: #ffc239;
}

/* gallery */
#gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Arrange images in 5 columns */
  gap: 10px; /* Adjust the gap between images */
  padding: 50px;
}

h2 {
  text-align: center;
}

.image {
  /* border: 1px solid #ccc; */
  padding: 5px;
  text-align: center;
}

.image img {
  max-width: 100%;
  height: auto;
  border-radius: 2px;
  box-shadow: 2px 2px 10px #33333379;
  font-family: "Poppins", sans-serif;
}

/* scroll effect */
.hidden{
  opacity: 0;
  filter: blur(5px);
  transform: translate(80%);
  transition: all 1.5s;
}

.hidden-2{
  opacity: 0;
  filter: blur(2px);
  transform: translate(-100% );
  transition: all 1.5s;
}

.show{
  opacity: 1;
  filter: blur(0);
  transform: translate(0);
}

.card:nth-child(2){
  transition-delay: 200ms;
}

.card:nth-child(3){
  transition-delay: 400ms;
}

@media only screen and (max-width: 320px) {
  /* Styles specific to devices with a maximum width of 600 pixels */

  .left{
    display: none;
  }
  .right{
    display: none;
  }

  .text-overlay h1{
    font-size: 1rem;
  }
  .text-overlay p{
    font-size: 0.6rem;
    display: none;
  }
  .visit-button{
    width: 50vw;
  }

  #about {
    height: 180vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    background-color: #ffb300;
    overflow-x: hidden;
  }
  .about-left {
    font-size: 0.6rem;
    height: 50vh;
    width: 90vw;
  }
  .left-mid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

 
  .about-right img {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 70vw;
    height: 50vh;
  }

  #gallery {
    display:flex;
    flex-direction: column;
    padding: 2rem;
  }

  #cards {
    padding: 1rem;
    text-align: center;
    font-style: italic;
    height: 200vh;
    color: #ffb300;
    /* background-color :black; */
    background-image: url("https://images.pexels.com/photos/1482803/pexels-photo-1482803.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size: cover;
    overflow-x: hidden;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }
  .card {
    border-radius: 20px;
    width: 80%;
    margin: 1rem 0rem;
  }
  .card p {
    font-size: 0.6rem;
    font-weight: 400;
    font-style: italic;
    color: #333;
  }
  .para{
    font-size: 0.6rem;
    font-weight: 400;
  }
  #contact {
    height: 180vh;
  }

  #contact-container {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
  }

  iframe {
    height: 50vh;
    width: 90vw;
    border-radius: 20px;
    margin: 0;
  }
  .c-right {
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  form {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 400px;
    margin: 0;
  }

}